/*
Possible Fonts:
font-family: 'Vollkorn SC', serif;
font-family: 'Nanum Brush Script', cursive;
font-family: 'Marck Script', cursive;
*/
.container{
    text-align:center;
}

.pull-right,.text-left{
    
}
.imgs{
    padding:0px 0px 15px 0px;
}
.text-vertical-center {
    text-align: center;
    vertical-align: middle;
    display: table-cell;
    color: white;
}
.vertical-test{
    text-align:center;
    background-color:lightblue;
    font-size:25px;
}
html, body {
      width: 100%;
      height: 100%;
    }

h1{
    text-align: center;
    font-family: 'Vollkorn SC', serif;
}

div p span{
    font-family: monospace, serif;
    color: red;
}

#testinmonials-tag{
    font-family: 'Noto Sans', sans-serif;
    font-size:small;
}

#testinmonials{
    font-family: 'Gaegu', cursive;
}

.landing {
  display: table;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    rgba(0,0,0,0.75),
    rgba(0,0,0,0.75)
  ),
    url('img/balloon-1.jpg') no-repeat center;
  background-size: cover;
}
#info{
    text-align:center;
}
#home {
  display: table;
  width: 100%;
  /*height: 100%;*/
  background-color:lightblue;
  /*background-color: white;*/
}
/*Below are the media queries for the contact section*/
@media(min-width:768px){
    .vertical-test{
        font-size:30px;
    }
}
@media(min-width:992px){
    .vertical-test{
        font-size:35px;
    }
}
@media(min-width:1200px){
    .vertical-test{
        font-size:40px;
    }
}

/* Below are the media queries for the title section */
.title1{
    font-family: 'Vollkorn SC', serif;
    
}
.subtitle1{
    font-family: 'Marck Script', cursive;
}
@media (min-width:600px){
    .title1{
        font-size:60px;
    }
    .subtitle1{
        font-size:35px;
    }
}
@media (min-width:992px){
    .title1{
        font-size:75px;
    }
    .subtitle1{
        font-size:50px;
    }
}
@media (min-width:1200px){
    .title1{
        font-size:90px;
    }
    .subtitle1{
        font-size:65px;
    }
}
/* Below are the media queries for the home section */
/*
Need to add the fading in effect for home. References: 
https://www.w3schools.com/jquery/jquery_fade.asp
https://www.w3schools.com/jquery/tryit.asp?filename=tryjquery_fadein
*/
@media(max-width:768px){
    #home{
        font-size:25px;
    }
}
@media(min-width:768px){
    #home{
        font-size:30px;
    }
}
@media(min-width:922px){
    #home{
        font-size:45px;
    }
}
@media(min-width:1200px){
    #home{
        font-size:60px;
    }
}

#home{
    text-align:center;
    font-family: 'Nanum Brush Script', cursive;
}
.test{
    font-family: 'Vollkorn SC', serif;
    font-weight:bold;
    color: black;
}

#gallery{
    background-color: lightblue;
}

/*Css for testimonials*/
@media(max-width:768px){
    .testinmonial-text{
        font-size:20px;
        width: 400px;
    }
}
@media(min-width:768px){
    .testinmonial-text{
        font-size:20px;
         width: 400px;
    }
}
@media(min-width:922px){
    .testinmonial-text{
        font-size:30px;
        width: 500px;
    }
}
@media(min-width:1200px){
    .testinmonial-text{
        font-size:45px;
        width: 600px;
    }
}

#info{
  /*  background: linear-gradient(*/
  /*  rgba(0,0,0,0),*/
  /*  rgba(0,0,0,0.50)*/
  /*);*/
  background-color: pink;
}

#myCarousel{
    height: 240px;
}

.tales {
  width: 100%;
}
.carousel-inner{
  width:100%;
  max-height: 200px !important;
}