/*
Possible Fonts:
font-family: 'Vollkorn SC', serif;
font-family: 'Nanum Brush Script', cursive;
font-family: 'Marck Script', cursive;
*/
.container{
    text-align:center;
    
}
.imgs{
    padding:0px 0px 15px 0px;
}
.text-vertical-center {
    text-align: center;
    vertical-align: middle;
    display: table-cell;
    color: white;
}
#landing {
        display: table;
        width: 100%;
        height: 100%;
        background: linear-gradient( rgba(0, 0, 0, 0.9),
        rgba(0, 0, 0, 0.6)),
        url('img/balloon-1.jpg') no-repeat center;
        background-size: cover;
    }
/* Below are the media queries for the title section */
#title1{
    font-family: 'Vollkorn SC', serif;
    
}
#subtitle1{
    font-family: 'Marck Script', cursive;
}
@media (min-width:768px){
    #title1{
        font-size:60px;
    }
    #subtitle1{
        font-size:35px;
    }
}
@media (min-width:992px){
    #title1{
        font-size:75px;
    }
    #subtitle1{
        font-size:50px;
    }
}
@media (min-width:1200px){
    #title1{
        font-size:90px;
    }
    #subtitle1{
        font-size:65px;
    }
}
/* Below are the media queries for the home section */
/*
Need to add the fading in effect for home. References: 
https://www.w3schools.com/jquery/jquery_fade.asp
https://www.w3schools.com/jquery/tryit.asp?filename=tryjquery_fadein
*/
@media(max-width:768px){
    p{
        font-size:25px;
    }
}
@media(min-width:768px){
    p{
        font-size:30px;
    }
}
@media(min-width:922px){
    p{
        font-size:45px;
    }
}
@media(min-width:1200px){
    p{
        font-size:60px;
    }
}
p{
    text-align:center;
    font-family: 'Nanum Brush Script', cursive;
}
#test{
    font-family: 'Vollkorn SC', serif;
    font-weight:bold;
}